@model HomePageViewModel

@if (Model.BlogPosts.Count() > 0)
{

    <form asp-controller="Search" asp-action="Sort" method="post">
        <div class="form-group">
            <label asp-for="Sort"></label>
            <select asp-for="Sort" class="form-control" asp-items="@Model.SortSelections">
                <option Value="">Select a SortFunction</option>
            </select>
            <input type="hidden" value="@Model.SearchString" name="SearchString" />
        </div>
        <input type="Submit" />
    </form>
    <br />
}

<div class="row">

  
        @foreach (var blogPost in @Model.BlogPosts)
        {
            <div class="card col-3 " style=" min-width: 18rem; overflow: hidden; margin: 10px; ">
                <div class="card-body " style=" position:relative;">
                    <br />
                    <h5 class="card-title">@blogPost.Title</h5>
                    <a asp-controller="Author" asp-action="Index1" asp-route-id="@blogPost.AuthorId">@blogPost.Author.FirstName @blogPost.Author.LastName</a>
                    <p class="card-text">@blogPost.Date</p>
                    <p class="card-text pb-3 " style=" white-space: nowrap;
                width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;">@blogPost.Content</p>

                <a class="btn btn-info  " style="position:absolute; top:5px ;right:5px;" asp-controller="BlogDetail" asp-action="Index" asp-route-id="@blogPost.Id"> <i class="bi bi-book"></i> &nbsp;Read</a>


            </div>
        </div>
    }
</div>
<br />
@if (@Model.BlogPosts.Count() == 0)
{
    <p>Er komen geen blogs of autheurs overeen met de door jouw ingegeven zoekterm, gelieve een andere zoekterm in te geven</p>
}
else
{

    <form asp-controller="Search" asp-action="First10" method="post" style="float:left">
        <div class="form-group">
            <input type="hidden" value="@Model.SearchString" name="SearchString" />
        </div>
        <input type="Submit" class="btn btn-primary" value="First 10">
    </form>
    <form asp-controller="Search" asp-action="Last10" method="post" style="float:left">
        <div class="form-group">
            <input type="hidden" value="@Model.SearchString" name="SearchString" />
        </div>
        <input type="Submit" class="btn btn-primary" value="Last 10">
    </form>

    @if (@Model.StartOfSelection == false)
    {
        <form asp-controller="Search" asp-action="Previous10" method="post" style="float:left">
            <div class="form-group">
                <input type="hidden" value="@Model.SearchString" name="SearchString" />
            </div>
            <input type="Submit" class="btn btn-primary" value="Previous 10">
        </form>

    }

    @if (@Model.EndOfSelection == false)
    {
        <form asp-controller="Search" asp-action="Next10" method="post" style="float:left">
            <div class="form-group">
                <input type="hidden" value="@Model.SearchString" name="SearchString" />
            </div>
            <input type="Submit" class="btn btn-primary" value="Next 10">
        </form>
    }
}
@if (!SignInManager.IsSignedIn(User))
{
    <div class="sidenav row  ">


        <img class=" col-12 img-side "
             style=" border-radius: 50%;

    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;"
             src="~/images/Default.png">
        <p class=" text-side  ">Welcome to our BolgCentral    </p>




    </div>
}
else
{
    <div class="sidenav row  ">


        <img class=" col-12 img-side  " style=" border-radius: 50%;

    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;"
             src="@Model.Author.ImageUrl">
        <span class="text-side   col-12">@Model.Author.FirstName @Model.Author.LastName</span>
        <a class="text-side col-12" style="width:30%" asp-controller="Author" asp-action="Index1" asp-route-id="@(UserManager.GetUserId(User))">My Blog</a>


        @if (UserManager.GetUserId(User) == @Model.Author.Id)
        {
            <a class="text-side col-12" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
        }

    </div>
}
