@model AuthorPageViewModel


<h1>Welcome to @Model.Author.FirstName @Model.Author.LastName 's Blog</h1>

<div class="row">
@foreach (var blogPost in @Model.BlogPosts)
{
    if(@Model.Author.Id == @blogPost.AuthorId)
        {
            <div class="card" style="min-width: 18rem; overflow: hidden; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title">@blogPost.Title</h5>
                    <p class="card-text">@blogPost.Date</p>
                    <p class="card-text">@blogPost.Content</p>
                    <a class="btn btn-primary" asp-controller="BlogPost" asp-action="Read" asp-route-id="@blogPost.Id">Read</a>
                </div>
            </div> 
        }
}
</div>
