@model HomePageViewModel
 
@if(UserManager.GetUserId(User)==@Model.Author.Id){
  <div class="row " >
        <div class="col-6">
             <h1 class="text-start">Welcome back, @Model.Author.FirstName  </h1>
          </div>
         <div class="col-6 text-end" >
           <a  asp-controller="BlogDetail" asp-action="CreateEditBlogpost" asp-route-id="@Model.Author.Id" class="btn btn-primary "><i class="bi bi-plus-circle"></i> &nbsp; Create new post</a>
          </div>    
   </div>
}
else{
     <div class="row " >
        <div class="col-6">
            <h1>Welcome to @Model.Author.FirstName's blog  </h1>
          </div>
         <div class="col-6 text-end" >

          </div>    
   </div>
    
}
<br />
<form asp-controller="Author" asp-action="Sort" method="post">

    <div class="form-group">
        <label asp-for="Sort"></label>                                                                                                 
        <select asp-for="Sort" class="form-control" asp-items="@Model.SortSelections">
            <option Value="">Select a SortFunction</option>
        </select>
    </div>
    <input type="Submit" />
    </form>
    <br />
<div class="row">

@foreach (var blogPost in @Model.BlogPosts)
{
        <div class="card col-3 " style=" min-width: 18rem; overflow: hidden; margin: 10px; ">
          <div class="card-body " style=" position:relative;">
            <h5 class="card-title">@blogPost.Title</h5>
            <p class="card-text">@blogPost.Date</p>
            <p class="card-text pb-3 " style=" white-space: nowrap;
                width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;">@blogPost.Content</p>
           
             <a class="btn btn-info  " style="position:absolute; top:5px ;right:5px;" asp-controller="BlogDetail" asp-action="Index" asp-route-id="@blogPost.Id"> <i class="bi bi-book"></i> &nbsp;Read</a>
                   @if(UserManager.GetUserId(User)==@blogPost.AuthorId){
                     <p class="text-center mb-1" > <a asp-controller="BlogDetail" asp-action="CreateEditBlogpost" asp-route-id="@blogPost.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a> &nbsp;
                     <a asp-controller="BlogDetail" asp-action="DeletePost" asp-route-id="@blogPost.Id" class="btn btn-danger"> <i class="bi bi-trash-fill"></i></a></p>
                     }
         </div>
    </div>
}
</div>
<br />
<a class="btn btn-primary" asp-controller="Author" asp-action="First10" asp-route-id="blogPost.Id">First 10</a>
<a class="btn btn-primary" asp-controller="Author" asp-action="Last10" asp-route-id="blogPost.Id">Last 10</a>

@if (@Model.StartOfSelection == false)
{
    <a class="btn btn-primary" asp-controller="Author" asp-action="Previous10" asp-route-id="blogPost.Id">Previous 10</a>

}

@if (@Model.EndOfSelection == false)
{
    <a class="btn btn-primary" asp-controller="Author" asp-action="Index" asp-route-sort="test" asp-route-count="10">Next 10</a>
}

<div class="sidenav row  ">
    
        
          <img class=" col-7  " style="border-radius: 50%;
    margin-top:1rem;
    width:54%;
    margin-left:3.2rem;
    height:22%;"  src="@Model.Author.ImageUrl">
          <span class="text-side ml-5  col-12" >@Model.Author.FirstName @Model.Author.LastName</span>
          <a class=" text-side col-12 " href="#services">Services</a>
          <a class=" text-side col-12 " href="#clients">Clients</a>
         @if(UserManager.GetUserId(User)==@Model.Author.Id){
             <a class="text-side col-12"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
             }
           
</div>
