
@model BlogCentralApp.Models.Components.SidebarViewModel

 <style >
    @@media (max-width: 700px) {
        .sidenav {
          visibility:hidden;
        }
    }
</style>
@if (!SignInManager.IsSignedIn(User))
{
    <div class="sidenav   ">
        <ul class="ul-side">
       
                <li> <img 
                      src="~/images/Default.png"> </li>
               <li> <a class="text-side   " id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a></li>
                <li>  <p class=" text-side   ">Visitors:&nbsp; @Model.Views   </p></li>

               <li> <p class=" text-side    ">Online Users: <span id="visitors"></span></p></li>
        </ul>
    </div>
}
else
{
    
    <div class="sidenav  ">
        <ul class="ul-side">
         <li> <img  
                src="@Model.Author.ImageUrl"></li> 
               <li><span class="text-side   " >@Model.Author.FirstName @Model.Author.LastName</span></li>
               <li><p class=" text-side    ">Visitors:&nbsp; @Model.Views   </p></li>
                <li><p class=" text-side     ">Online Users: <span id="visitors">Test</span></p></li>

                  <li><a class="text-side col-12"  asp-controller="Author" asp-action="Index1" asp-route-id="@(UserManager.GetUserId(User))">My Blog</a></li>
                 @if(UserManager.GetUserId(User)==@Model.Author.Id){
                  <li><a class="text-side col-12"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a></li>
                     }

       </ul>
    </div>

 }

     <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/visit.js"></script>